*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: linear-gradient(45deg, rgb(14, 14, 14), rgb(61, 59, 59));
}

.calculator{
    margin: 30px auto;
    padding: 20px;
    border: 2px solid grey;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 2.5);
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 400px;
    gap: 8px;
}

.calculator .output{
    color: white;
    border: 1px solid grey;
    box-shadow: -5px -5px rgba(80, 79, 79, 0.5);
    grid-column: 1 / 5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 40px;
    padding: 20px;
    border-radius: 4px;
    word-break: break-all;
    word-wrap: break-word;
}

.calculator button{
    border: none;
    border-radius: 50%;
    background: transparent;
    color: white;
    font-size: 20px;
    font-weight: 500;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: all 0.2s ease;
}

#equal-button{
    background-color: #fb7c14;
}

.calculator button:hover{
    background: #595454;
}

.span-two{
    grid-column: span 2;
}
